body {
  background-color: #002147;
  color: #e5e4e2;
}

h1, h2, h3, h4 {
font-family: 'Exo 2', sans-serif;
}

h5 {
  font-family: 'Roboto Flex', sans-serif;
}

p {
  font-family: 'Roboto Flex', sans-serif;
}

ul {
list-style-position: inside;
}

.btn-custom {
background-color:#353839;
color: #e5e4e2;
border: none;
transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
background-color: #e5e4e2;
color: #002147;
}

.inverted {
background-color: #e5e4e2;
color: #002147;
}

.inverted a {
color: #002147;
}

.inverted .navbar a {
color: #e5e4e2 !important;
}

.inverted .custom-footer {
background-color: #e5e4e2 !important;
color: #002147 !important;
}

.inverted .custom-footer a {
color: #002147 !important;
}

.custom-navbar {
background-color: #00152e !important;
}

.custom-footer {
background-color: #002147;
color: white;
}